img{
border: 5px solid coral;
border-radius: 50%;
width: 200px;
height: 200px;

}

.buttons{

    height: 100px;
    width: 200px;
    
   

}

 .reset{
padding: 10px;
margin: 5px;
background-color: yellow;




 }

 .submit{
    padding: 5px;
    margin: 10px;
    background-color: yellow;
   

 }
